<%- include('partials/header'); %>
<div class="container">
    <h1>Contact</h1>
    <p> Well! You can contact me at :  </p>
    <p>
      <span class="email read">✉</span> <span class="emaill">cherryagarwal1906@gmail.com</span>
      </p>
   <p> <span class="ldn read">✆</span> <span class="emaill">8560014636</span>
   </p>

</div>

<%- include('partials/footer'); %>
